<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tableviewShow---swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A072D811E1E102C00D697B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A072D951E1E102C00D697B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A072DA01E1E102C00D697B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
